.accordion-item{
    border: none !important;
    margin-bottom: 5px !important;
}

.accordion-button{
    background-color: rgb(71, 71, 71) !important;
    font-size: large;
}

.logo-top{
    width: 150px;
    /* position: absolute; */
    /* top: 10px;
    left: 10px; */
}

.header{
    height: 100vh;
}

.title-header{
    font-size: 80px;
}

#title-accordion{
    font-size: 48px;
}

#width-accordion{
    width: 60% !important;
}

#accordionFlushExample button::after{
    background-image: url(../images/add.svg);
}

#text-footer-size{
    font-size: 14px;
}

#header-bg{
    background-image: url(../images/banner-initial.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#btnVamosla{
    padding: 20px 35px 19px;
    background-color: red;
    color: white;
    font-size: 25px;
}

.accordion-item button{
    background-color: #2e2e2e !important;
}

.title-sectios{
    font-size: 58px !important;
}

