*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.box{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #474747;
}
.div1{
    top: 0;
    left: 0;
}
.div2{
    top: 0;
    left: 6.875rem;
}
.div3{
    top: 0;
    left: 13.75rem;
}
.div4{
    left: 0;
    top: 6.875rem;
}
.div5{
    left: 0;
    top: 13.75rem;
}
.div6{
    top: 6.875rem;
    left: 6.875rem;
}
.div7{
    bottom: 0;
    right: 0;
}
.div8{
    bottom: 0;
    right: 6.875rem;
}
.div9{
    bottom: 0;
    right: 13.75rem;
}
.div10{
    bottom: 6.875rem;
    right: 0;
}
.div11{
    bottom: 13.75rem;
    right: 0;
}
.div12{
    bottom: 6.875rem;
    right: 6.875rem;
}